body {
    font-family: Arial;
    background: #fff0f5;
    text-align: center;
}
 
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}
 
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}
 
button {
    background: #ff69b4;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}
 
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}
 
.link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ff1493;
}
 #cartItems button {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}